---
import Header from "@components/common/Header.astro";
import Footer from "@components/common/Footer.astro";
import { i18n } from "@/site-config";
import Favicons from "@/components/helpers/Favicons.astro";
import CommonMeta from "@/components/helpers/CommonMeta.astro";

export interface Props {
  metadata?: MetaData;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = i18n;
---

<!doctype html>
<html lang={language} dir={textDirection}>
  <head>
    <CommonMeta />
    <Favicons />

    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
  </head>
  <body class="antialiased text-default bg-page tracking-tight">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global></style>
  </body>
</html>
